#animationCont {
    height: 100vh;
    width: 100vw;
    background: rgba(34, 34, 34, 1);
    background: rgba(34, 34, 34, .9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 5;
    /* background: var(--dGray); */
    position: fixed;
    top: 0;
    left: 0;
}
#homeLogoImg {
    z-index: 0;
    height: 60vh;
    width: 50vw;
    opacity: .2;
    position: fixed;
    top: 50%;
    left: 0;
    right: 0;
    margin: -30vh auto;
    /* padding: 5em; */
    /* border: 2em solid var(--aRed); */
}
#animationCont h3 {
    font-size: 12vw;
    color: var(--aRed);
    text-align: center;
    position: fixed;
    height: 100vh;
    top: 50%;
    left: 0;
    right: 0;
    margin: -12vw auto;
    font-weight: 900;
}
#animationCont h2 {
    position: fixed;
    bottom: 0%;
    color: var(--aRed);
    z-index: 2;
    opacity: .6;
    font-size: 6vw;
    font-weight: 900;
}