#resForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2em auto;
}
#resForm button {
    width: 50%;
    align-self: center;
    justify-self: center;
}

#boldSpan{
    font-size: 1.5em;
    font-family: bold;
}

.inputCont {
    display: flex;
    margin: .6em auto;
    justify-content: center;

}

.inputCont * {
    margin: .3em
}

#borderCont {
    border: 3px solid var(--dGray);
    margin-bottom: 2em;
    width: 40vw;
}
.listSearch button {
    justify-self: center;
}

.gearInputCont {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: stretch;
    background-color: var(--aGray);
    margin: 1em auto;
    padding: 1em;
    border-bottom: 3px solid var(--dGray);
    border-top: 3px solid var(--dGray);
    width: 100%;
}
.gearInputCont * {
    margin: .5em .1em;
}

#quantityCont input{
    width: 60%;
}
