.titleCont {
    width: 100vw;
    display: flex;
    position: relative;
    background: var(--dGray);
    min-height: 50vh;
}
.titleCont h2 {
    flex: 1;
    text-align: center;
    align-self: center;
    justify-self: center;
    color: var(--aGray);
}


.gearImg {
    flex: 1;
    width: 50vw;
    min-height: 50vh;
}
.titleDiv {
    flex: 1;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}
.titleDiv h1{
    width: 100%;
    background-color: var(--aRed);
    color: var(--aGray);
    margin: 0;
    font-size: 4.5em;
}
.titleDiv h2 {
    color: var(--dGray);
    text-align: center;
    font-size: 1.8em;
    margin-top: 1em;
}
.titleDiv p {
    font-size: 1.5em;
    margin: .5em 1.4em;
    color: var(--dGray);
}

#weatherDiv {
    width: 100%;
    display: flex;
    justify-content: space-around;
    justify-self: center;
    align-self: center;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: var(--aGray);
    border-top: 2px solid var(--dGray);
    border-bottom: 2px solid var(--dGray);
}

.weatherCont {
    width: 100%;
    display: flex;
    justify-content: space-around;
    justify-self: center;
    align-self: center;
    text-align: center;
    justify-content: center;
    align-items: center;
}


.gear-cont {
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}

.gear-item-cont {
    margin-top: 3em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
}

.gear-item-cont img {
    width: 12em;
    height: 8em;
    object-fit: contain;
}