*, html {
  box-sizing: border-box;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main h1 {
  color: var(--aRed);
  font-size: 3em;
  margin: 1em;
}

body {
  background-color: lightgray;
}

.main-container {
  margin: 1em;
}

.flex {
  display: flex;
}
.container-left {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 3em;
}

.flex-col {
  display: flex;
  flex-direction: column;
}
.evenly {
  justify-content: space-evenly;
}
.space-around {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}