@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300&family=Nanum+Gothic:wght@800&display=swap');


:root {
  --dGray: #212121;
  --lGray: #d2d2d2;
  --aGray: #ededed;
  --aRed: #dc1e26;
}

*, html {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Cairo', sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
main h1 {
  /* background-color: var(--aRed); */
  color: var(--aGray);
  font-size: 3em;
  margin: 1em;
  font-family: 'Nanum Gothic', sans-serif;
  text-align: left;
  width: 80%;
}

body {
  background-color: var(--aGray);
}

.main-container {
  margin: 1em;
}

.flex {
  display: flex;
}
.container-left {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 3em;
}

.flex-col {
  display: flex;
  flex-direction: column;
}
.evenly {
  justify-content: space-evenly;
}
.space-around {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}