@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300&family=Nanum+Gothic:wght@800&display=swap');


:root {
  --dGray: #212121;
  --lGray: #d2d2d2;
  --aGray: #ededed;
  --aRed: #dc1e26;
}

*, html {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Cairo', sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin-top: 12vh;
}

.headerCont {
  background-color: rgba(237, 237, 237, .7);
  background: linear-gradient(90deg, rgba(237, 237, 237, .2), rgba(237, 237, 237, 1), rgba(237, 237, 237, .2));
  width: 90%;
  height: auto;
  display: flex;
  margin: 3em;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: .3em;
}

.headerCont div {
  background-color: var(--aRed);
  height: 8px;
  width: 23%;
}

.headerCont h1 {
  /* width: 40vw; */
  background-color: var(--dGray);
  color: var(--aGray);
  font-size: 3em;
  margin: .3em .5em;
  font-family: 'Nanum Gothic', sans-serif;
  /* text-align: left; */
  display: inline-block;
  text-align: center;
  border-radius: 10px;
  padding: .3em 1em;
}


body {
  background-color: var(--aGray);
}

.main-container {
  margin: 1em;
}

.flex {
  display: flex;
}
.container-left {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 3em;
}

.flex-col {
  display: flex;
  flex-direction: column;
}
.evenly {
  justify-content: space-evenly;
}
.space-around {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

button {
  background-color: var(--aRed);
  color: var(--aGray);
  padding: .5em 2em;
  border-radius: 15px;
  cursor: pointer;
}
button:hover {
  background-color: var(--dGray);
}