#calendarCont {
    height: 100%;
    width: 90vw;
    background-color: white;
    /* font-size: 1.2em; */
    display: flex;
    flex-direction: column;
    justify-content: center;

}
#calendarBtn {
    background-color: var(--dGray);
    padding: .4em 0;
    color: var(--aRed);
    font-weight: bolder;
}
.rbc-off-range-bg {
    background-color: var(--lGray) !important;
}

.rbc-off-range button {
    color: var(--dGray) !important;
}
.rbc-event {
    background-color: var(--dGray) !important;
    color: var(--lGray);
}

.rbc-show-more, .rb-button-link {
    color: var(--aRed) !important;
}

